{% for table in tables %}
LOAD DATA INFILE '{{ table.path }}' INTO TABLE {{ table.name }} FIELDS TERMINATED BY ',' OPTIONALLY ENCLOSED BY '"' LINES TERMINATED BY '\r\n' IGNORE 1 ROWS
(
    {% for column in table.columns %}
        {{ column }} {{ ", " if not loop.last else "" }}
    {% endfor %}
)
    {% if table.variables|length > 0 %}
    SET
        {% for variable in table.variables %}
            {{ variable }} = nullif(@{{ variable }},'') {{ ", " if not loop.last else "" }}
        {% endfor %}
    {% endif %}
;
{% endfor %}