-- Dumped by SageODBC Tools {{ context.now }}, ODBC dsn : {{ context.dsn }}

create table if not exists {{ context.table_name }}
(
    {% for field in context.fields %}
        {{ field.name }} {{ field.type }} {{ "(" ~ field.size ~ ")" if field.type == 'varchar' else "" }} {{ '' if field.is_in_pk else 'null' }} Comment '{{ field.comment }}'  {{ ", " if not loop.last else "" }}
    {% endfor %}
    {% if context.primary_keys| length > 0 %}
        , primary key (
        {% for pk in context.primary_keys %}
           {{ pk }}{{ ", " if not loop.last else "" }}
        {% endfor %}
        )
    {% endif %}
);
